<v-card
  class="mx-auto"
  max-width="344"
  outlined
  v-cloak
>
  <v-list-item three-line  v-if="type == 'confirmed'">
    <v-list-item-content>
      <div class="overline mb-4">
        <v-icon color="red">mdi-hospital-box</v-icon>
        {{ $t('confirmed_plural') }}
      </div>

      <v-list-item-title class="headline mb-1" v-if="totals.brazil">
        {{ totals.brazil.confirmed }}
      </v-list-item-title>
      <v-list-item-subtitle>
        {{ $t('updated_at') }} {{ date }}
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>

  <v-list-item three-line  v-if="type == 'deaths'">
    <v-list-item-content>
      <div class="overline mb-4">
        <v-icon color="#000">mdi-christianity</v-icon>
        {{ $t('deaths') }}
      </div>
      <v-list-item-title class="headline mb-1" v-if="totals.brazil">{{ totals.brazil.deaths }}</v-list-item-title>
      <v-list-item-subtitle>{{ $t('letality') }}: {{ deathRate }} %</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>

  <v-card-actions>
  </v-card-actions>
</v-card>
