<div v-bind:class="containerClass" v-cloak>
  <a v-bind:class="controlClass">
    <i v-bind:class="iconClass" v-on:click="toggleControl"></i>
  </a>
  <i class="fa fa-window-close" aria-hidden="true" v-on:click="toggleControl"></i>

  <h3 class="small-widget-caption"><span>{{ $t('covid19') }}</span></h3>

  <!--
    <h3 class="small-widget-caption"><span>{{ $t('search') }}</span></h3>
  -->

  <!--<select class="chosen-select" v-bind:id="selectId" v-bind:name="selectId" multiple="" v-bind:data-placeholder="$t('locality')">-->
  <select v-model="locality" class="chosen-select" v-bind:id="selectId" v-bind:name="selectId" v-bind:data-placeholder="$t('locality')">
    <option value="0">{{ $t('brazil') }}</option>
    <option v-for="locality, id in localities" v-bind:value="id" v-if="localities != null">{{ locality.name }}</option>
  </select>

  <!--
  <v-container fluid>
    <v-row
      align="center"
    >
      <v-col cols="12">
        <v-autocomplete
          v-model="locality"
          :items="localitiesSelector"
          dense
          :label="$t('locality')"
        ></v-autocomplete>
      </v-col>
    </v-row>
  </v-container>
  -->

  <div class="small-widget-slider-player">
    <!--<i class="fa fa-step-backward" v-on:click="sliderPrev"></i>-->
    <!--<i class="fa fa-play"          v-on:click="sliderPlay"></i>-->
    <!--<i class="fa fa-pause"         v-on:click="sliderPause"></i>-->
    <!--<i class="fa fa-step-forward"  v-on:click="sliderNext"></i>-->
    <i v-bind:class="sliderIcon"       v-on:click="sliderToggle"></i>
  </div>

  <input type="checkbox"
         class="leaflet-control-layers-selector"
         name="covid19-date-slider"
         id="covid19-date-slider"/>

  <div id="covid19-graph" style="width: 260px; height:200px;"></div>

  <h4 class="credits">
    {{ $t('source') }}: <a class="small-widget-link" href="https://blog.brasil.io/2020/03/23/dados-coronavirus-por-municipio-mais-atualizados/" target="_blank">Brasil.IO</a> /
    <a class="small-widget-link" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">CC-BY-SA</a>.
  </h4>
</div>
