.leaflet-covid19-control a.small-widget-link {
  width      : inherit !important;
  text-align : inherit !important;
  display    : inline !important;
}

.leaflet-covid19-control {
  max-height: unset;
}

.leaflet-covid19-control {
  width: 300px!important;
  max-height: unset!important;
}

.leaflet-covid19-control .irs {
  /*margin-left: 50px;*/
  /*margin-top : -50px;*/
  position     : relative;
  left         : 10px;
}

.leaflet-covid19-control .small-widget-slider-player {
  position : relative;
  top      : 68px;
  right    : 48px;
}

.leaflet-covid19-control .small-widget-slider-player i {
  margin-top: -30px;
  padding   : 15px;
}

.leaflet-covid19-control .small-widget-caption {
  height: 2px;
}

.leaflet-covid19-control .credits {
  font-size     : 0.85em;
  margin        : 0;
  margin-bottom : -6px;
}

#covid19-graph,
.leaflet-covid19-control .irs {
  margin-left  : 20px;
  margin-right : 20px;
}

#covid19-date-slider {
  visibility : hidden;
  display    : none;
}

#covid19_locality_selector_chosen {
  margin-bottom: -50px;
}

#covid19_locality_selector_chosen .chosen-single {
  width: 100%;
}

.covid19-control-initialized-false {
  visibility: hidden;
  display: none;
}
