<v-container>
  <v-row dense no-gutters>
    <v-col>
      <v-switch
          v-model="compareMode"
          :label="$t('compare')"
      ></v-switch>
    </v-col>
  </v-row>

  <v-row>
    <v-col sm="12" v-bind:md="compareMode == false ? '12' : '6'">
      <component v-bind:is="component" v-bind:select="select" v-bind:redraw="compareMode"></component>
    </v-col>

    <v-col sm="12" md="6" v-if="compareMode">
      <component v-bind:is="component" v-bind:select="select"></component>
    </v-col>
  </v-row>
</v-container>
