<v-container fluid>
  <h1>{{ $t('dashboard_general') }}</h1>

  {{ $t('source') }}: <a href="https://brasil.io/covid19/" title="Brasil.IO" target="_blank">Brasil.IO</a>
  / <a title="CC-BY-SA" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">CC-BY-SA</a>.

  <!--
  <v-row>
    <v-col>
      <box-totals-brasil type="confirmed"></box-totals-brasil>
    </v-col>

    <v-col>
      <box-totals-brasil type="deaths"></box-totals-brasil>
    </v-col>
  </v-row>

  <v-row>
    <v-col>
      <chart-general-timeseries></chart-general-timeseries>
    </v-col>
  </v-row>

  <h2>
    {{ $t('states') }}
  </h2>

  <v-row>
    <v-col>
      <chart-general-statemap type="confirmed"></chart-general-statemap>
    </v-col>

    <v-col>
      <chart-general-statemap type="deaths"></chart-general-statemap>
    </v-col>
  </v-row>

  <v-row>
    <v-col>
      <table-states></table-states>
      </v-card>
    </v-col>
  </v-row>

  <h2>
    {{ $t('municipalities') }}
  </h2>
  -->

  <v-row>
    <v-col>
      <map-cities></map-cities>
    </v-col>
  </v-row>

  <!--
  <v-row>
    <v-col>
      <table-cities></table-cities>
      </v-card>
    </v-col>
  </v-row>
  -->
</v-container>
