<app-page page-title="COVID-19 - Casos entre Quilombolas">
  <template v-slot:drawer>
    <control-layers></control-layers>
  </template>

  <template v-slot:default>
    <v-row>
      <v-col>
        <map-main quilombo-cases></map-main>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <table-quilombolas-deathsbycity></table-quilombolas-deathsbycity>
      </v-col>
    </v-row>
  </template>
</app-page>
