<app-page page-title="Quilombolas e a COVID-19">
  <template v-slot:drawer>
    <control-layers></control-layers>
  </template>

  <template v-slot:default>
    <v-row>
      <v-col>
        <map-main quilombo-cases></map-main>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <table-quilombolas-deathsbycity></table-quilombolas-deathsbycity>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <table-quilombolas-cases></table-quilombolas-cases>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <table-quilombolas-deaths></table-quilombolas-deaths>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <chart-quilombolas-localities></chart-quilombolas-localities>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <table-quilombolas-localities></table-quilombolas-localities>
      </v-col>
    </v-row>
  </template>
</app-page>
