<app-page v-bind:page-title="$t('risk_indigenous_lands')">
  <template v-slot:drawer>
    <control-indigenous-risks
      href="https://isa.to/2RNMEJ5"
      v-bind:title="$t('risk_indigenous_lands')"
      container-class="covid19-ti-risk-scale"
      id-prefix="covid19-ti-risk-scale-"
      v-bind:scales="5"
    >
    </control-indigenous-risks>
    <control-layers></control-layers>
  </template>

  <template v-slot:default>
    <v-row>
      <v-col>
        <map-main ti-risks></map-main>
      </v-col>
    </v-row>
  </template>
</app-page>
