<v-app id="inspire">
  <v-navigation-drawer
    v-model="drawer"
    app
    clipped
    width="330px"
    hide-overlay
    stateless
  >
    <v-container
      id="locale-container"
      fluid
    >
      <v-row>
        <v-col>
          <v-select
             v-model="locale"
             :items="locales"
             v-bind:label="$t('lang')"
             dense
          ></v-select>
        </v-col>
      </v-row>
    </v-container>

    <v-list dense v-if="!inIframe">
      <v-list-item link>
        <v-list-item-action>
          <v-icon>mdi-view-dashboard</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title><a href="/">{{ $t('home') }}</a></v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <slot name="drawer-list"></slot>
    </v-list>

    <slot name="drawer"></slot>
  </v-navigation-drawer>

  <v-app-bar
    app
    clipped-left
    dense
  >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    <v-toolbar-title v-if="!inIframe">{{ title }}</v-toolbar-title>
  </v-app-bar>

  <v-content>
    <v-container
      fluid
    >
      <slot name="default"></slot>
    </v-container>

    <v-footer
      v-bind:color="footerColor"
      v-if="!inIframe"
    >
      <iframe v-bind:src="footerIframeSrc"
              id="rodape" class="autosize"
              width="100%" height="400px" scrolling="no" frameborder="0" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
      >
      </iframe>
    </v-footer>
  </v-content>
</v-app>
