/**
 * Scales.
 */

#covid19-ti-risk-scale-1 {
  background-color: #f6f685;
}

#covid19-ti-risk-scale-2 {
  background-color: #f9b964;
}

#covid19-ti-risk-scale-3 {
  background-color: #fb7b42;
}

#covid19-ti-risk-scale-4 {
  background-color: #fd3d21;
}

#covid19-ti-risk-scale-5 {
  background-color: #ff0000;
}
