<app-page v-bind:page-title="$t('cases') + ' - ' + $t('indigenous')">
  <template v-slot:drawer>
  </template>

  <template v-slot:default>
    <board-compare type="chart-indigenous-sesai"></board-compare>
  </template>
</app-page>
