<v-card>
  <v-card-title>
    {{ $t('deaths') }} - {{ $t('quilombolas') }} ({{ $t('source') }}: <a href="http://conaq.org.br" target="_blank">Conaq</a>)
    <v-spacer></v-spacer>
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      v-bind:label="$t('search')"
      single-line
      hide-details
    ></v-text-field>
  </v-card-title>
  <v-data-table
    :headers="headers"
    :items="items"
    :search="search"
    :sort-by="['date', 'quilombo', 'municipio', 'uf']"
    :sort-desc="[true, true, true, true]"
  ></v-data-table>
</v-card>
