<v-row>
  <v-col cols="12" md="4">
    <box-totals-indigenous-apib type="confirmed"></box-totals-indigenous-apib>
  </v-col>

  <v-col cols="12" md="4">
    <box-totals-indigenous-apib type="deaths"></box-totals-indigenous-apib>
  </v-col>

  <v-col cols="12" md="4">
    <box-totals-indigenous-apib type="peoples"></box-totals-indigenous-apib>
  </v-col>
</v-row>
