<app-page page-title="Risco a Indígenas">
  <template v-slot:drawer>
    <control-indigenous-risks
      href="https://isa.to/2RNMEJ5"
      v-bind:title="$t('risk_indigenous_lands')"
      container-class="covid19-ti-risk-scale"
      id-prefix="covid19-ti-risk-scale-"
      v-bind:scales="5"
    >
    </control-indigenous-risks>
    <control-layers></control-layers>
  </template>

  <template v-slot:default>
    <v-row>
      <v-col>
        <map-main ti-risks></map-main>
      </v-col>
    </v-row>

    <h1>{{ $t('totals') }} - {{ $t('sesai') }}</h1>

    <v-row>
      <v-col>
        <box-totals-indigenous-sesai type="confirmed"></box-totals-indigenous-sesai>
      </v-col>

      <v-col>
        <box-totals-indigenous-sesai type="deaths"></box-totals-indigenous-sesai>
      </v-col>

      <v-col>
        <box-totals-indigenous-sesai type="cured"></box-totals-indigenous-sesai>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <box-totals-indigenous-sesai type="infected"></box-totals-indigenous-sesai>
      </v-col>

      <v-col>
        <box-totals-indigenous-sesai type="suspected"></box-totals-indigenous-sesai>
      </v-col>

      <v-col>
        <box-totals-indigenous-sesai type="discarded"></box-totals-indigenous-sesai>
      </v-col>
    </v-row>

    {{ $t('source') }}: <a target="_blank" v-bind:title="$t('sesai')" href="http://www.saudeindigena.net.br/coronavirus/mapaEp.php">{{ $t('sesai') }}</a>

    <h1>{{ $t('totals') }} - {{ $t('apib') }}</h1>

    <board-indigenous-apib-totals></board-indigenous-apib-totals>

    {{ $t('source') }}: <a target="_blank" v-bind:title="$t('apib')" href="http://quarentenaindigena.info/casos-indigenas/">{{ $t('apib') }}</a>

    <h1>{{ $t('cases') }} - {{ $t('indigenous') }}</h1>

    <board-compare type="chart-indigenous-sesai"></board-compare>

    <chart-indigenous-apib-series></chart-indigenous-apib-series>

    <chart-indigenous-apib-columns type="peoples"></chart-indigenous-apib-columns>
    <chart-indigenous-apib-columns type="states"></chart-indigenous-apib-columns>
    <chart-indigenous-apib-columns type="cities"></chart-indigenous-apib-columns>
  </template>
</app-page>
