<app-page v-bind:page-title="$t('daily_cases')">
  <template v-slot:drawer>
    <v-card>
      <v-responsive>
        <v-card-text>
          <control-cases></control-cases>
        </v-card-text>
        <v-card-actions></v-card-actions>
      </v-responsive>
    </v-card>

    <control-layers></control-layers>
  </template>

  <template v-slot:default>
    <v-row>
      <v-col>
        <map-main covid-cases></map-main>
      </v-col>
    </v-row>
  </template>
</app-page>
