.v-card.apib {
  border: none!important;
}

.v-card.apib .headline {
  font-size: 3.5em;
  font-weight: bold;
}

.v-card.apib {
  text-align: center;
}

.apib-black {
  color: #000000;
}

.apib-white {
  color: #ffffff;
}

.apib-green {
  color: #4da13f;
}

.apib-red {
  color: #ff2100;
}
