<app-page drawer-opened>
  <template v-slot:drawer-list>
    <v-list-group
      value="true"
    >
      <template v-slot:activator>
        <v-list-item-title>{{ $t('populations') }}</v-list-item-title>
      </template>

      <!--
      <v-list-group
        no-action
        sub-group
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>{{ $t('general') }}</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-map</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><a href="/casos">{{ $t('cases_map') }}</a></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      -->

      <v-list-group
        no-action
        sub-group
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>{{ $t('indigenous') }}</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link href="/indigenas">
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><a href="/indigenas">{{ $t('dashboard') }}</a></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link href="/indigenas/casos">
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><a href="/indigenas/casos">{{ $t('cases') }}</a></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link href="/indigenas/riscos">
          <v-list-item-action>
            <v-icon>mdi-map</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><a href="/indigenas/riscos">{{ $t('risks_map') }}</a></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link href="/indigenas/yanomami">
          <v-list-item-action>
            <v-icon>mdi-map</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><a href="/indigenas/yanomami">{{ $t('Yanomami') }}</a></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-group
        sub-group
        no-action
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>{{ $t('quilombolas') }}</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link href="/quilombolas">
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><a href="/quilombolas">{{ $t('dashboard') }}</a></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link href="/quilombolas/casos">
          <v-list-item-action>
            <v-icon>mdi-map</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><a href="/quilombolas/casos">{{ $t('cases_map') }}</a></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list-group>
    </v-list-group>
  </template>

  <template v-slot:default>
    <board-brasil-totals></board-brasil-totals>
    <!--<map-main covid-cases></map-main>-->
  </template>
</app-page>
