<app-page v-bind:page-title="$t('risk_yanomami')">
  <template v-slot:drawer>
    <control-indigenous-risks
      href="/assets/indigenas/yanomami/nota-tecnica.pdf"
      v-bind:title="$t('risk_yanomami')"
      container-class="covid19-yanomami-risk-scale"
      id-prefix="covid19-yanomami-risk-scale-"
      v-bind:scales="4"
    >
    </control-indigenous-risks>
    <control-layers></control-layers>
  </template>

  <template v-slot:default>
    <v-row>
      <v-col>
        <map-main yanomami-risks></map-main>
      </v-col>
    </v-row>
  </template>
</app-page>
