<v-container fluid>
  <div class="apib-graph" v-bind:style="style"></div>

  <h4>
    {{ $t('source') }}: <a target="_blank" v-bind:title="$t('apib')" href="http://quarentenaindigena.info/casos-indigenas/">{{ $t('apib_source') }}</a>
  </h4>
  <h5>
    {{ $t('apib_credits') }}
  </h5>
</v-container>
