<v-card>
  <v-card-title>
    {{ title }}
  </v-card-title>
  <v-container class="grey lighten-5">
    <v-row
      no-gutters
    >
      <v-col
        v-for="k in scales"
        :key="k"
      >
        <v-card
          v-bind:class="'pa-2 text-center ' + containerClass"
          outlined
          tile
          :id="idPrefix + k"
        >
          {{ k }}
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="href != null">
      <v-col>
        <a v-bind:title="$t('source') + ' ' + $t('and') + ' ' + $t('technical_note')" v-bind:href="href" target="_blank">
          {{ $t('source') + ' ' + $t('and') + ' ' + $t('technical_note') }}
        </a>
      </v-col>
    </v-row>
  </v-container>
</v-card>
