/**
 * Scales.
 */

#covid19-ti-risk-scale-1 {
  background-color: #f6f685;
}

#covid19-ti-risk-scale-2 {
  background-color: #f9b964;
}

#covid19-ti-risk-scale-3 {
  background-color: #fb7b42;
}

#covid19-ti-risk-scale-4 {
  background-color: #fd3d21;
}

#covid19-ti-risk-scale-5 {
  background-color: #ff0000;
}

#covid19-yanomami-risk-scale-1 {
  background-color: #ffdad1;
}

#covid19-yanomami-risk-scale-2 {
  background-color: #fca487;
}

#covid19-yanomami-risk-scale-3 {
  background-color: #eb362a;
}

#covid19-yanomami-risk-scale-4 {
  background-color: #67000d;
}
