<v-container fluid>
  <v-row>
    <v-col>
      <v-select
         :items="dseis"
         v-model="dsei"
         v-bind:label="$t('dsei')"
      ></v-select>
    </v-col>
  </v-row>

  <div class="sesai-graph" v-bind:style="style"></div>

  {{ $t('source') }}: <a target="_blank" v-bind:title="$t('sesai')" href="http://www.saudeindigena.net.br/coronavirus/mapaEp.php">{{ $t('sesai') }}</a>
</v-container>
