<v-card>
  <v-card-title>
    {{ $t('municipalities') }}
    <v-spacer></v-spacer>
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      v-bind:label="$t('search')"
      single-line
      hide-details
    ></v-text-field>
  </v-card-title>
  <v-data-table
    :headers="headers"
    :items="cities"
    :search="search"
    :sort-by="['city', 'confirmed', 'deaths', 'estimated_population_2019', 'confirmed_per_100k_inhabitants', 'death_rate']"
    :sort-desc="[true, true, true]"
  ></v-data-table>
</v-card>
