<div class="city-map-container">
  <div class="city-map-loading">
    <span class="center-align valign-wrapper">
      <img src="/images/misc/mini-loading.gif" alt="Carregando" />
      &nbsp;
      {{ $t('loading') }}
    </span>
  </div>
  <div class="city-map"></div>
</div>
