/**
 * Using code from Brasil.IO's COVID19 project:
 * https://github.com/turicas/brasil.io/blob/219dd8095004fdd6d2107c0c1fbdb42f7bd68bc3/covid19/static/css/covid19-map.css
 * 
 * Which is licensed under GPLv3:
 * https://raw.githubusercontent.com/turicas/brasil.io/219dd8095004fdd6d2107c0c1fbdb42f7bd68bc3/LICENSE
 * 
 * Changed to adapt as a VueJS component.
 */

.city-map {
  height: 800px;
  min-width: 400px;
  min-height: 850px;
  z-index: 0;
}

.city-map .leaflet-control.legend.info {
  background-color: white!important;
}

.city-map .leaflet-control.legend.info > span {
  display: flex;
}

.city-map .leaflet-control.legend.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.city-map .leaflet-control.legend.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.city-map .leaflet-control.legend i {
  width: 18px;
  line-height: inherit;
  margin-right: 8px;
  display: inline-block;
  height: 18px;
}

.city-map .leaflet-control.legend > label {
  color: #000;
}

.city-map .leaflet-control.legend > input {
  color: #000;
  font-size: 1em;
}

.city-map-loading {
  position: absolute;
  z-index: 999;
  margin-top: 25px;
  margin-left: 50px;
}

.city-map-loading > span > img {
  width: 20px;
  height: 20px;
}

.city-map-col {
  padding: 0 2px 0 0;
}
