<v-card>
  <v-card-title>
    {{ $t('quilombola_localities') }} ({{ $t('source') }}: <a href="https://ibge.gov.br/" target="_blank">IBGE</a>)
    <v-spacer></v-spacer>
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      v-bind:label="$t('search')"
      single-line
      hide-details
    ></v-text-field>
  </v-card-title>
  <v-data-table
    :headers="headers"
    :items="items"
    :search="search"
    :sort-by="['CD_UF', 'sigla_UF', 'NM_UF', 'CD_NUM', 'NM_MUN', 'CD_LOCALIDADE', 'NM_LOCALIDADE', 'CD_CATEG', 'NM_CATEG']"
    :sort-desc="[true, true, true, true, true, true, true, true, true]"
  ></v-data-table>
</v-card>
