<v-card>
  <v-card-title>
    {{ $t('deaths') }} {{ $t('by_place') }} - {{ $t('quilombolas') }} ({{ $t('source') }}: <a href="http://conaq.org.br" target="_blank">Conaq</a>)
    <v-spacer></v-spacer>
    <!--
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      v-bind:label="$t('search')"
      single-line
      hide-details
    ></v-text-field>
    -->
  </v-card-title>
  <v-data-table
    :headers="headers"
    :items="items"
    :search="search"
    :sort-by="['obitos', 'uf', 'municipio']"
    :sort-desc="[true, true, true]"
  ></v-data-table>
</v-card>
