/**
 * Resets.
 */

/*
.covid19-map {
  all: revert!important;
}
*/

.covid19-map a, .covid19-map i {
  color: initial!important;
}

/**
 * Map: sizing and basic behavior.
 */
.covid19-map {
  height   : 600px;
  width    : 100%;
  margin   : 0;
  padding  : 0;
  overflow : hidden;
  z-index  : 1;
}

/**
 * Workarounds.
 */
.leaflet-small-widget.closed {
  width : 46px;
  height: 42px;
}

.leaflet-control h3.legend-title.closed {
  margin-bottom: 10px;
}

.leaflet-pane {
  z-index: 0!important;
}

.v-navigation-drawer--fixed {
  z-index: 12000;
}

.v-card .fa-window-close {
  visibility: hidden;
}

.v-card .leaflet-control-layers {
  width: 300px;
}

/**
 * Quilombolas.
 */
.quilombo-cluster {
  height: 18px;
  width : 18px;
}
